<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3. Conditional Rendering</title>
</head>
<body>
    <div id="app">
        <h1 v-if="10>age">Dog</h1>
        <h1 v-else>Doge</h1>
        <img :src="image" :alt="info" v-if="isHigh">
    </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="main.js"></script>